*{
    
    margin: 0;
    padding: 0;
    
}
@font-face{
    font-family: "silk";
    src: url(font/slkscrb-webfont.woff);
}

.header .nav-link{
    list-style:none;
    text-align: end;
}


.header .nav-link li{
    display: inline-block;
    padding:20px 20px ;
    
}
.header .nav-link li:hover{
    transform:scale(1.1);
}
.header .nav-link a{
    font-size: 24px;
    color: rgb(202, 23, 23);
    text-decoration:none;
    font-family: "silk" 
}
.header .nav-link li a:hover{
    color: rgba(20, 89, 49, 0.886);
}

.body{
    margin-top: 0%;
    margin: 0%;
    padding: 0%;
    margin-bottom: 0%;
    min-height: 100vh;
    background-color: black;
}


.box{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 2fr;

    
}
.subtitulo{
    grid-column: 2/4;
    text-align: center;
    color: rgb(238, 54, 8);
    font-family: "silk";
}
.subtitulo:hover{
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

.blanco{
    color: white;
    font-size: 80px;
    margin: 0%;
    text-align: center;
    font-family: "silk"
}
.blur{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    grid-column: 2/4;
}


.article p{
    font-family: "silk";
    font-size: 40px;
    color: white;
    margin: 50px;
    text-align:center;

}

.fondo_dev{
    background-image: url(gif/code.gif);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    height: 500px;
    width: 100%;
    background-position: 30% 3%;
    flex:none;
    
}

    



.box{
    height: 100px;
    width: 70%;
    padding-top: 100px;
    padding-left: 50px;
    text-align: justify;
    
    font-size: 1.9rem;
    
}


.foot{
    margin-top:50px;
    
}

.text{
    font-family: "silk";
    font-size: 20px;
    color: white;
    
    
}



.redes{
    text-align: center;
    
    
    

}

.footer{
    
    font-size: 10px;
    
    text-align: center;
    
}
.bot{
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 30px;
    font-family: "silk";
}
.parpadea{
    
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.modal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    background-image: url(lex.png) /* Fondo oscuro semitransparente */
}
.modal-content {
    /*background-image: url(lex.png);*/
    background-size: cover;
    margin: 10% auto;
    padding: 20px;
    font-family: "silk";
    width: 50%;
}
.close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.from{
    display: flex;
    font-family: "silk";
    height: 660px;
    width: 550px;
    box-shadow: 0 0 20px #fffbfb74;
    margin: 200px;
    margin-top: 150px;
    border-radius: 25px;
    
}



.containeru{
    display: flex;
    
    height: 660px;
    width: 550px;
    box-shadow: 0 0 20px #2b1e1e;
    margin: 200px;
    margin-top: 150px;
    border-radius: 25px;
    
}

form{
    padding: 30px 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "silk";
}

.form h2{
    text-align: center;
    font-size: 45px;
    font-family:"silk";
    color: #820c0c;
    font-weight: 600;
    margin-bottom: 25px;
}

label{
    font-size: 30px;
    font-family: "silk";
    color: #e1cb08;
    margin-bottom: 15px;
}
.boxy{
    color: #000000;
    border: 0;
    background-color: #ffffffa6;
    padding: 15px;
    border-radius: 25px;
    margin-bottom: 25px;
    outline: none;
    text-align: left;
    font-family: "silk";
}

.submit{
    background-color: #9fdcfa;
    border: 0;
    padding: 15px;
    color: #0b66dd;
    font-size: 15px;
    font-family: "silk";
    border-radius: 25px;
    width: 250px;
    margin-top: 25px;
    box-shadow: 0 0 20px rgba(201, 199, 259, 0.5);
}

